.navigation-bar {
    width: 8rem;
    height: 3rem;
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    border-radius: 0 10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-bar i {
    color: black;
    font-size: 1.3rem;
    font-weight: 800;
}